<div class="jumbotron box-register">
	<h1>Registro</h1>          
	<form class="form-horizontal">
		<fieldset> 
			<div class="form-group">
				<label class="col-lg-3 control-label registro-inputs" required>Nombre *</label>
				<div class="col-lg-9">
					<input class="form-control" id="inputName" ng-model="user.name" placeholder="Nombre">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label registro-inputs" required>Apellidos *</label>
				<div class="col-lg-9">
					<input class="form-control" id="inputName" ng-model="user.lastName" placeholder="Apellidos">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label registro-inputs">País</label>
				<div class="col-lg-9">
					<input class="form-control" id="inputCountry" ng-model="user.country" placeholder="País">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label registro-inputs">Edad</label>
				<div class="col-lg-9">
					<input class="form-control" id="inputCountry" ng-model="user.age" placeholder="Edad">
				</div>
			</div>
			<div class="form-group">
				<label for="inputFile" class="col-lg-3 control-label registro-inputs">Avatar</label>
				<div class="col-lg-9">
					<input type="text"  readonly="" class="form-control floating-label" placeholder="Buscar...">
					<input type="file" id="inputFile" multiple="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label registro-inputs" required>Email *</label>
				<div class="col-lg-9">
					<input class="form-control" id="inputUsername" ng-model="user.email" placeholder="Correo electrónico">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label registro-inputs" required>Usuario *</label>
				<div class="col-lg-9">
					<input class="form-control" id="inputUsername" ng-model="user.username" placeholder="Nombre de Usuario">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-lg-3 control-label registro-inputs" required>Contraseña *</label>
				<div class="col-lg-9">
					<input type="password" class="form-control" id="inputPassword" ng-model="user.password" placeholder="Contraseña">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-lg-3 control-label registro-inputs" required>Confirmar *</label>
				<div class="col-lg-9">
					<input type="password" class="form-control" id="inputCheckPassword" ng-model="user.checkpassword" placeholder="Introduzca de nuevo su contraseña">
				</div>
			</div>
			<div class="buttons-register"> 
				<button type="button" class="btn btn-default">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="createNewUser()">Confirmar</button>
			</div>
		</fieldset>
	</form>
</div>