.barajabox {
	position: relative;
	padding-top: 30px;
	color: #aaa;
	display: none;
}

#nav-prev {
	position: absolute;
	top:150px;
	left: 150px;
	color: white;
	font-size: 30px;
	border-radius: 5px;
	padding: 15px;
	background-color: black;
	text-align: center;
	display: none;
	cursor: pointer;
}

#nav-next {
	position: absolute;
	top:150px;
	right: 150px;
	color: white;
	font-size: 30px;
	border-radius: 5px;
	padding: 15px;
	background-color: black;
	text-align: center;
	display: none;
	cursor: pointer;
}

#buttonPanel {
	margin-top: 25px;
}

#buttonPanel .ctrlbutton {
	color: white;
	font-size: 20px;
	border-radius: 5px;
	padding: 15px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	cursor: pointer;
}

#toggleBaraja {
	display: none;
}

#nextBaraja {
	display: none;
}

/* Estilo para cartas de tamaño normal */

ul.baraja-container li h4 {
	color: #666;
	font-size: 14px;
	padding: 8px 10px 5px;
	margin: 20px 3px 5px;
	border-bottom: 1px solid #f0f0f0;
}

ul.baraja-container li p {
	font-size: 12px;
	font-weight: 700;
	padding: 0 10px;
	margin: 10px 3px 0;
}

ul.baraja-container li {
	border-radius: 10px;
	padding: 5px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul.baraja-container li img {
	display: block;
	margin: 0 auto;
	width: 75%;
	border-radius: 10px 10px 0 0;
}

ul.baraja-container {
	width: 200px;
	height: 310px;
	margin: 0 auto 30px;
	position: relative;
	padding: 0;
	list-style-type: none;
}

ul.baraja-container li {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	cursor: pointer;
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	border: solid 1px black;
}

/* Estilos para cartas de tamaño grande */

ul.baraja-big-container li h4 {
	color: #666;
	font-size: 25px;
	padding: 0px 10px 5px;
	margin: 20px 3px 5px;
	border-bottom: 1px solid #f0f0f0;
}

.hoteldescription {
	padding: 8px;
	color: black;
	font-weight: normal;
	font-size: 12px;
	display: none;
}

ul.baraja-big-container li p {
	display: inline;
	font-size: 18px;
	font-weight: 700;
	padding: 0 10px;
	margin: 10px 3px 0;
}

ul.baraja-big-container li a {
	display: inline;
	font-size: 18px;
	font-weight: 700;
	padding: 0 10px;
	margin: 10px 3px 0;
}

ul.baraja-big-container li {
	text-align: left;
	border-radius: 10px;
	padding: 5px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul.baraja-big-container li img {
	display: block;
	margin: 0 auto;
	width: 50%;
}

ul.baraja-big-container {
	width: 375px;
	height: 500px;
	margin: 0 auto 30px;
	position: relative;
	padding: 0;
	list-style-type: none;
}

ul.baraja-big-container li {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	border: solid 1px black;
}

.no-js ul.baraja-container {
	width: auto;
	height: auto;
	text-align: center;
}

.no-js ul.baraja-container li {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 310px;
	margin: 10px;
}