.ng-invalid.ng-dirty {

	border-color: #FA787E;
}

.ng-valid.ng-dirty {

	border-color: #78FA89;
}

.box-jumbotron{
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
}

.buttons-register{
	float: right;
}

.header-logo-default{
	font-size: 28px;
}

.registro-inputs{
	text-align: left !important;
}

.radioRegistro{

	padding-left: 220px;
}

.btn-delete{
	margin-top: 0px;
	margin-bottom: 0px;
}

#formAddHotel{
	display: none;
}

#tooglenav{
	padding-top: 18px;
}

#homepage
{
    font-size: 20px;
}

.btn-white
{
	background-color: white;
}

#avatar
{
	height: 60px;
	margin-bottom: 0px;

}

#imgavatar
{
	padding-top: 2px;
	padding-right: 2px;
}

#username
{
	margin-top: 20px;
}

.navbar-default {
	z-index: 3000;
}

.navbar {
	margin-bottom: 0px;
}